/* Reset some default styles */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Global styles */
.sections {
    background-color: #f8f9fa;
}

.container {
    height: 100%;
}

.card {
    border: none;
}

.card-body {
    padding: 5rem;
}

.card img {
    max-width: 100%;
}

/* Form styles */
.form-outline {
    margin-bottom: 1.5rem;
}

.form-control::placeholder {
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 1.3rem;
    font-size: 1.3rem;
    text-align: center;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card-body {
        padding: 2rem;
    }
}

/* Right side content styles */
.gradient-custom-2 {
    background: linear-gradient(to right, #007bff, #00bfff);
}

.text-white {
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Additional styles for Sign-up page */
.card-registration {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-registration h3 {
    color: #007bff;
}

.card-registration label {
    color: #007bff;
}

.card-registration input,
.card-registration select,
.card-registration button {
    border-radius: 8px;
}

.card-registration button {
    background-color: #007bff;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

.card-registration button:hover {
    background-color: #0056b3;
}

.card-registration .datepicker {
    width: 100%;
}

.card-registration .form-check-label {
    color: #555;
}

.card-registration .form-check-input:checked {
    background-color: #007bff;
}

.card-registration .form-check-input:checked:after {
    color: white;
}
