.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.gradient-custom {
  background: #f093fb;
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
  background: linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.bg {
  background: url("../img/gallery/gallery-3.jpg");
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(240, 147, 251, 1);
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: rgba(240, 147, 251, 1);
}

.bg{
  background: url("../img/gallery/gallery-3.jpg");
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}