:root {
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(210, 11%, 15%);
  --light-gray: hsl(0, 0%, 83%);
  --davys-gray: hsl(0, 0%, 30%);
  --marigold: hsl(39, 96%, 48%);
  --platinum: hsl(0, 0%, 90%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 21%);
  --ff-poppins: "Poppins", sans-serif;
  --fs-1: 7rem;
  --fs-2: 4.2rem;
  --fs-3: 3.8rem;
  --fs-4: 3.6rem;
  --fs-5: 3.4rem;
  --fs-6: 3.2rem;
  --fs-7: 3rem;
  --fs-8: 2.4rem;
  --fs-9: 2rem;
  --fs-10: 1.8rem;
  --fs-11: 1.4rem;
  --fs-12: 1.2rem;
  --fw-500: 500;
  --fw-700: 700;
  --section-padding: 100px;
  --radius-circle: 50%;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-10: 10px;
  --shadow-1: 0 0 30px 4px hsla(0, 0%, 0%, 0.05);
  --shadow-2: -1px 15px 26px -4px hsla(0, 5%, 61%, 0.15);
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow: hidden;
}

body.loaded {
  overflow-x: hidden;
  overflow-y: visible;
}

body.active {
  overflow: hidden;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--jet);
  font-weight: var(--fw-700);
  line-height: 1.2;
}

.h1,
.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-5);
}

.h4 {
  font-size: var(--fs-6);
}

.h5 {
  font-size: var(--fs-8);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.btn {
  padding: 13px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: max-content;
  /* background-color: var(--marigold); */
  background: linear-gradient(45deg, red, orange);
  /* color: var(--white); */
  color: white;
  text-transform: uppercase;
  border-radius: var(--radius-15);
  border: 2px solid var(--marigold);
  transition: var(--transition-2);
  overflow: hidden;
}

.btn::after {
  inset: -35px -20px;
  transform: skewY(25deg) translateY(-130px);
  transition: var(--transition-1);
  z-index: -1;
}

.btn:is(:hover, :focus-visible)::after {
  transform: skewY(25deg) translateY(0);
}

.btn-primary::after {
  background-color: var(--white);
}

.btn-primary:is(:hover, :focus-visible) {
  color: var(--marigold);
}

.btn-secondary {
  background-color: var(--white);
  /* color: var(--marigold); */
  color: white;
}

.btn-secondary::after {
  background-color: var(--marigold);
}

.btn-secondary:is(:hover, :focus-visible) {
  /* color: var(--white); */
  color: var(--light-gray);
}

.w-100 {
  width: 100%;
}

.section-title {
  margin-block-end: 20px;
}

.grid-list {
  display: grid;
  gap: 90px;
}

.rating-wrapper {
  display: flex;
  gap: 2px;
}

.rating-wrapper ion-icon {
  color: var(--marigold);
  font-size: 2rem;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-reveal] {
  opacity: 0;
  transform: translateY(20px);
  transition: var(--transition-2);
}

[data-reveal="left"] {
  transform: translateX(-20px);
}

[data-reveal="right"] {
  transform: translateX(20px);
}

[data-reveal].revealed {
  opacity: 1;
  transform: translate(0);
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: grid;
  place-items: center;
  transition: var(--transition-1);
  z-index: 6;
}

.loading-container.loaded {
  opacity: 0;
  visibility: hidden;
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid var(--platinum);
  border-block-start-color: var(--marigold);
  border-radius: var(--radius-circle);
  animation: loading 0.5s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

.loading-container.loaded .loading-circle {
  animation-iteration-count: 1;
}

.overlay,
.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding-block: 20px; */
  z-index: 4;
}

.header.active {
  position: fixed;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-action {
  margin-inline-start: auto;
}

.cart-btn,
.nav-open-btn {
  padding: 12px;
  color: var(--marigold);
}

.cart-btn {
  font-size: 1.8rem;
}

.nav-open-btn {
  font-size: 2.2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  padding: 50px 40px;
  visibility: hidden;
  transition: 0.35s var(--cubic-out);
  z-index: 2;
}

.navbar.active {
  transform: translateX(100%);
  visibility: visible;
  transition-duration: 0.5s;
}

.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--davys-gray);
  font-size: 2.8rem;
  border: 2px solid var(--light-gray);
  border-radius: var(--radius-circle);
  padding: 2px;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 35px;
}

.navbar .logo {
  margin-block-end: 30px;
}

.navbar-item {
  border-block-end: 1px solid var(--light-gray);
}

.navbar-link {
  color: var(--eerie-black);
  padding-block: 12px;
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--jet);
}

.hero {
  padding-block-start: calc(var(--section-padding) + 5px);
}

.hero .container {
  display: grid;
  gap: 80px;
}

.hero-text {
  margin-block: 8px 40px;
}

.hero .shape {
  display: none;
}

.instruction {
  padding-block-start: 0;
  text-align: center;
}

.instruction .section-text {
  margin-block-end: 60px;
}

.instruction .card-title {
  margin-block: 25px;
}

.instruction .card-title .span {
  display: inline-block;
  color: var(--light-gray);
  font-size: var(--fs-4);
  line-height: 1;
}

.restaurant-card {
  padding: 20px;
}

.restaurant-card .card-icon {
  width: 100px;
  border-radius: var(--radius-15);
  overflow: hidden;
  margin-block-end: 20px;
}

.restaurant-card .rating-wrapper {
  margin-block-start: 5px;
}

.restaurant-card .card-meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.restaurant-card .card-meta {
  color: var(--marigold);
  font-size: var(--fs-11);
  border: 1px solid;
  padding: 5px 15px;
  border-radius: var(--radius-10);
  margin-block: 15px 20px;
  transition: var(--transition-1);
}

.restaurant-card .card-meta:is(:hover, :focus-visible) {
  background-color: var(--marigold);
  color: var(--white);
}

.top-restaurant .btn {
  margin-inline: auto;
  margin-block-start: 40px;
}

.cta .container {
  display: grid;
  gap: 60px;
}

.cta .section-text {
  margin-block: 20px 30px;
}

.stats .section-title {
  margin-block-end: 0;
}

.stats-item {
  background-color: var(--white);
  padding: 40px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-10);
  text-align: center;
}

.stats-item .span {
  color: var(--marigold);
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: 1;
}

.testi .container {
  display: grid;
  gap: 80px;
}

.testi-text {
  font-size: var(--fs-10);
  margin-block: 25px 20px;
}

.testi .wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testi .author-title {
  color: var(--jet);
  font-size: var(--fs-10);
  font-weight: var(--fw-500);
  margin-block-end: 5px;
}

.partnership {
  background-color: var(--jet);
  overflow-x: hidden;
}

.partnership .section-title {
  text-align: center;
  color: var(--white);
  margin-block-end: 50px;
}

.partnership-card {
  position: relative;
}

.partnership-card .card-banner {
  outline: 7px solid var(--marigold);
  border-radius: var(--radius-20);
  margin: 7px;
}

.partnership-card .card-title {
  color: var(--white);
  margin-block-end: 10px;
}

.partnership-card .card-content {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

.newsletter .container {
  display: grid;
  gap: 40px;
}

.newsletter .section-title {
  margin-block-end: 30px;
}

.newsletter .input-field {
  background-color: var(--white);
  padding: 15px 30px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-2);
  margin-block-end: 20px;
  outline: none;
}

.newsletter .input-field:focus {
  box-shadow: inset 0 0 0 2px var(--marigold);
}

.newsletter .btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.footer {
  background-color: var(--jet);
  color: var(--light-gray);
}

.footer .section-title {
  color: var(--white);
  margin-block-start: 35px;
}

.footer-list-title {
  color: var(--sonic-silver);
  margin-block-end: 25px;
}

.footer-link,
.address {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition-1);
  padding-block: 10px;
}

.footer-link ion-icon {
  font-size: 1.8rem;
}

.address {
  border-block-end: 1px solid var(--sonic-silver);
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--marigold);
}

.address ion-icon {
  flex-shrink: 0;
}

.social-list {
  display: flex;
  gap: 20px;
  padding-block-start: 40px;
}

.social-link {
  font-size: 2rem;
  border: 1px solid;
  padding: 10px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--marigold);
  border-color: var(--marigold);
}

.footer-top {
  padding-block-end: 40px;
  border-block-end: 1px solid var(--sonic-silver);
}

.footer-bottom {
  padding-block: 25px;
  text-align: center;
}

.copyright {
  color: var(--sonic-silver);
  font-size: var(--fs-11);
}
/* contact us */
.contact_us_6 * {
  font-family: Nunito, sans-serif;
}

body {
  background: url(img/clothes-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact_us_6 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_6 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_6 .responsive-container-block {
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  width: 35%;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #03a9f4;
  position: absolute;
  height: 950px;
  right: 0px;
}

.contact_us_6 .responsive-container-block.container {
  position: relative;
  min-height: 75px;
  flex-direction: row;
  z-index: 2;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  max-width: 1320px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
  background-color: white;
  max-width: 450px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 104px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 104px;
  border-bottom-left-radius: 6px;
  margin-top: 90px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 52px;
  font-weight: 900;
}

.contact_us_6 .text-blk.contactus-subhead {
  color: #9c9c9c;
  width: 300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  display: none;
}

.contact_us_6
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_6 .input {
  width: 100%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
}

.contact_us_6 .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
}

.contact_us_6 .form-box {
  z-index: 2;
  margin-top: 0px;
  margin-right: 48px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #9c9c9c;
}

.contact_us_6 ::placeholder {
  color: #dadada;
}

.contact_us_6 .mob-text {
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}

.contact_us_6
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
  color: white;
}

.contact_us_6 .map-box {
  max-width: 800px;
  max-height: 520px;
  width: 100%;
  height: 520px;
  background-color: #d9d9d9;
  background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}
.contact_us_6 .map-box:hover {
  transform: scale(1.3);
  border-color: white;
  transition: transform 0.7s ease, border-color 0.5s linear; /* Add transition effects */
}

.contact_us_6 .input,
.contact_us_6 .textinput,
.contact_us_6 .input::placeholder,
.contact_us_6 .textinput::placeholder {
  border-color: rgb(136, 12, 78); /* Set text color to black */
  color: #000; /* Set border color to black */
  border-radius: 1.3rem;
}

.contact_us_6 .text-blk.input-title {
  color: black; /* Set label text color to black */
}

.contact_us_6 .map-part {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(193, 80, 80), 0 0 20px rgb(245, 197, 109);
}

.contact_us_6 .text-blk.map-contactus-head {
  font-weight: 900;
  font-size: 22px;
  line-height: 32px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #03a9f4;
}

.contact_us_6 .text-blk.map-contactus-subhead {
  max-width: 300px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.contact_us_6 .social-media-links.mob {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 230px;
  display: flex;
  justify-content: flex-start;
}

.contact_us_6 .link-img {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .social-icon-link {
  margin: 0 25px 0 0;
  padding: 0 0 0 0;
}
.contact_us_6 .social-icon-link:hover {
  transform: scale(1.5);
  border-color: #03a9f4;
  transition: transform 0.7s ease, border-color 0.5s linear; /* Add transition effects */
}

@media (max-width: 1024px) {
  .contact_us_6 .responsive-container-block.container {
    justify-content: center;
  }

  .contact_us_6 .map-box {
    position: absolute;
    top: 0px;
    max-height: 320px;
  }

  .contact_us_6 .map-box {
    max-width: 100%;
    width: 100%;
  }

  .contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .map-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .mob-text {
    display: block;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .contact_us_6 .link-img {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
  }

  .contact_us_6 .social-media-links.mob {
    justify-content: space-evenly;
  }

  .contact_us_6
    .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .contact_us_6 .text-blk.contactus-subhead {
    display: block;
  }

  .contact_us_6 .mob-text {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-container-block.container {
    flex-wrap: wrap;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .contact_us_6 .submit-btn {
    width: 100%;
  }

  .contact_us_6 .input {
    width: 100%;
  }

  .contact_us_6 .textinput {
    width: 100%;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .form-box {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_6 .mob-text {
    display: block;
  }

  .contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.contactus-head {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6
    .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_6 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 35px;
  }

  .contact_us_6 .input {
    height: 45px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

@media (min-width: 575px) {
  :root {
    --fs-6: 4.2rem;
  }

  .container {
    max-width: 550px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 {
    --fs-2: 6rem;
  }

  .h2 {
    --fs-2: 4.8rem;
  }

  .hero-banner {
    position: relative;
  }

  .hero .shape {
    display: block;
    position: absolute;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-20);
  }

  .hero .shape-1 {
    left: 0;
    bottom: 60px;
  }

  .hero .shape-2 {
    top: 60px;
    right: -10px;
  }

  .instruction-card .card-banner {
    max-width: max-content;
    margin-inline: auto;
  }

  .stats-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .partnership-card .card-content {
    left: 40px;
  }

  .partnership-card .card-title {
    --fs-8: 3.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    max-width: 428px;
    left: -430px;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    z-index: 1;
    opacity: 0;
    transition: var(--transition-1);
    visibility: hidden;
  }

  .overlay.active {
    visibility: visible;
    opacity: 0.7;
  }

  :is(.top-restaurant, .stats) .grid-list {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .newsletter-banner img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .newsletter-content {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .hero .shape-1 {
    bottom: 30px;
  }

  .hero .shape-2 {
    top: 80px;
    right: -40px;
  }

  .instruction .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  .instruction .grid-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  :is(.cta, .testi, .newsletter) .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .footer-top {
    grid-template-columns: 1fr 0.5fr 1fr;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-6: 4.8rem;
  }

  .container {
    max-width: 1140px;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .overlay {
    display: none;
  }

  .navbar-item {
    border-block-end: none;
  }

  .navbar-list {
    display: flex;
    gap: 40px;
  }

  .header .container {
    gap: 60px;
  }

  .navbar-link {
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--marigold);
  }

  .header .btn-primary {
    display: block;
  }

  .header-action {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .cart-btn {
    /* background-color: var(--white); */
    background: linear-gradient(45deg, red, purple);
    border-radius: var(--radius-10);
  }

  .stats .grid-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .stats-item .span {
    --fs-1: 4.8rem;
  }
}
